<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <script src="js/index.js"></script>
        <link rel="icon" href="/img/forecast-icon.png">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
        <h2>{{aboutMessage}}</h2>   
        <img style="width:250px;" src="/img/horizon-zero-dawn-hd-wallpapers-33245-9554930.jpg">
        </div>
        
        {{>footer}}
    </body>

</html>