<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <script src="js/index.js"></script>
        <link rel="icon" href="/img/forecast-icon.png">
        <title>About</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
        <h2>{{aboutMessage}}</h2>   
        <img style="width:250px;" src="/img/mapbox.jpg">
        <img style="width:250px;float:left;" src="/img/darkSky.png">
        </div>
        
        {{>footer}}
    </body>

</html>