

<header>
  <h1> {{title}}</h1>
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
    {{!-- <a href="/cutie-patootie">CutiePatootie</a> --}}
    <a href="/employee-index">Employee</a>
</header>